clean_cache=false
compile="compile"
node_version=9.10.1 # 6.11.0
npm_version=5.6.0 # 3.10.10
remove_node=false
assets_path=assets/
phoenix_ex=phx

# Erlang version
erlang_version=19.0

# Elixir version
elixir_version=1.6.4

# Always rebuild from scratch on every deploy?
always_rebuild=false

# A command to run right before compiling the app (after elixir, .etc)
pre_compile="pwd"

# A command to run right after compiling the app
post_compile="pwd"

# Set the path the app is run from
# runtime_path=/app

# We can change the filename for the compile script with this option
# compile="compile"

# We can set the path to phoenix app. E.g. apps/phoenix_app when in umbrella.
phoenix_relative_path=apps/platform_web

# Set the path the app is run from
# runtime_path=/app
