#blog-content {
  // min-height: 100vh;
  margin: 70px auto;
  width: 95%;
  @include tablet {
    margin: 70px auto;
    width: 37rem;
  }

  @include desktop {
    margin: 70px auto;
    width: 37rem;
  }

  .card {
    // background: rgb(240,240,240);
    // border: 3px solid rgba(0, 0, 0, 0.1);
    color: black;

    h1,h2,h3,strong,em { color: $dark-blue; }

    a strong { color: #3273dc; }
    a strong em { color: #3273dc; }

  }
}
