#wrapper {

  .press {
    padding-top: 100px;
    margin: 0 auto;
    width: 50%;

    @include mobile {
      min-width: 90%;
    }
  }
  #press-content {

    .team-image {
      .image {
        border: double 4px $silver; //transparent;
        // background-image: linear-gradient(white, white), linear-gradient(to top, #fff, $silver);
        background-origin: border-box;
        background-clip: content-box, border-box;
      }
    }
  }
}
