#blog_content {
  height: 100%;
  margin: 50px auto;
  width: 52%;

  .card {
    background: rgb(240,240,240);
    border: 3px solid rgba(0, 0, 0, 0.1);
    color: $dark-blue;

    h1,h2,h3,strong,em { color: $dark-blue; }

    a strong { color: #3273dc; }
    a strong em { color: #3273dc; }

  }
}
