.email-leadgen {
  font-size: 3rem;

  .button-control, button {
    background: transparent;
    font-size: 1.8rem !important;

  }

  .button-control:hover {
    transform: translateY(-.2rem);
  }
  .button-control:active {
    transform: translateY(-.1rem);
  }

  .control {
    margin-bottom: 1rem;
    margin-left: .3rem;

    input {
      font-size: 1.6rem;
    }


    .select, select {
      width: 100%;
    }
  }

  .success-message {
    text-align: center;

    @include mobile {
      padding: 1rem 0;
    }

    .fa {
      color: $light-purple;
      font-size: 5rem;
      margin-bottom: 1rem;
      padding-top: 1rem;
    }

    h2 {
      font-size: $size-4;
      margin-bottom: 1rem;
    }
  }

  #recaptcha {
    > iframe {
      width: 100%;
    }
  }
}
