.email-leadgen {
  display: flex;
  justify-content: center;

  @include mobile {

  }


  .control {
    margin-bottom: 1em;
    margin-right: 7px;

    .select, select {
      width: 100%;
    }
  }

  .success-message {
    text-align: center;

    @include mobile {
      padding: 1rem 0;
    }

    .fa {
      color: $red;
      font-size: 5em;
      margin-bottom: 1em;
    }

    h2 {
      font-size: $size-4;
      margin-bottom: 1em;
    }
  }

  #recaptcha {
    > iframe {
      width: 100%;
    }
  }
}
