// - - - - - - - - - - - - - - - - - - -
// - - base
// project defaults for base elements - h1-h6, p, a, etc.

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
