// - - - - - - - - - - - - - - - - - - -
// - - layout
// global layout classes - height, width, padding, margin, etc

#app {

  .hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    text-align: center;

    .title {
      max-width: 700px;
    }

    @include mobile {
      margin-top: 40px;
    }
  }

  p {
    max-width: 125ch;
    // text-align: center;
  }
}
