// - - - - - - - - - - - - - - - - - - -
// - - layout
// global layout classes - height, width, padding, margin, etc
//
// https://medium.freecodecamp.org/how-to-build-a-responsive-blog-design-with-bulma-css-c2257a17c16b

// -- cryptowise app

body {
  height: 100%;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  height: 100%;

  h1 { padding-top: 25px; }
  // bulma reserves hero
  .heero {
    .heero-body {
      text-align: center;
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .subtitle-big {
        max-width: 300px;
      }

      .title {
        max-width: 900px;
      }
    }
  }

  #normal-wrap {
    display: flex;
    justify-content: center;
    padding: 60px 30px;

  }

  #dark-wrap {
    padding: 30px 0;
  }

  .scroll-to {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features-heading {
    text-align: center;
  }

  .features {
    .feature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .feature-icon { padding: 7px; }
      p { max-width: 300px; }
    }
  }

  #footer {
    font-size: 12px;
    text-align: center;
    padding: 20px;
  }
}
