// - - - - - - - - - - - - - - - - - - -
// - - layout
// global layout classes - height, width, padding, margin, etc
//
// https://medium.freecodecamp.org/how-to-build-a-responsive-blog-design-with-bulma-css-c2257a17c16b

// -- cryptowise app

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body {
  height: 100%;
  box-sizing: border-box;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {

  h1 { padding-top: 2.5rem; }
  // bulma reserves hero
  .heero {
    min-height: 61.8vh;
    .heero-body {
      text-align: center;
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .subtitle-big {
        max-width: 30rem;
      }

      .title {
        max-width: 90rem;
      }
    }
  }

  #normal-wrap {
    display: flex;
    justify-content: center;
    padding: 6rem 3rem;

  }

  #dark-wrap {
    padding: 3rem 0;
  }

  .scroll-to {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .features-heading {
    text-align: center;
  }

  .features {
    .feature {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      .feature-icon { padding: .7rem; }
      p { max-width: 30rem; }
    }
  }

  #footer {
    font-size: 1.2rem;
    text-align: center;
    padding: 2rem;
  }
}
