// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables

// brand design general layout colors

// Spotify colors (https://codepen.io/alowenthal/pen/rxboRv)
// $green: rgb(30, 215, 96);
$primary-dark: rgb(24, 24, 24); // black
$secondary-dark: rgb(40, 40, 40); // light-black


// $grey: rgb(170, 170, 170);
$sand: rgb(200, 200, 200);
$white: rgb(255, 255, 255);
// $blue: #4688d7;

$blue: #76c8e7; //#4a7fdf;
// cw colors
$dark-blue: #191F2D; // dark-blue
$light-dark-blue: rgb(20,23,30);
$lighter-dark-blue: rgb(23,26,33);
$darker-dark-blue: rgb(17,20,27);
// $black: #000;
// $secondary-dark: rgb(22,27,37);

$light-black: #5D626E;
$light-blue: #EEf4fb;
$light-purple: #783D6F;
$silver: #AEBED4;
$green: #73b581; //#8de8c3;
$smoke: #D0E5FF;
