// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables

// brand design general layout colors
$dark-blue: #191F2D;
$black: #000;
$light-black: #5D626E;
$light-blue: #E6F1FC;
$light-purple: #783D6F;
$silver: #AEBED4;
$green: #8de8c3;
$white: #FFFFFF;
