// - - - - - - - - - - - - - - - - - - -
// - - settings
// global maps and variables

// brand design general layout colors
$dark-blue: #191F2D;
$light-blue: #E6F1FC;
$light-purple: #783D6F;
$silver: #AEBED4;
$green: #8de8c3;
$white: #FFFFFF;


// brand fonts
$header-font-family: "Montserrat", sans-serif;
