// - - - - - - - - - - - - - - - - - - -
// - - typography
// global typography styles
$avenir: "Avenir", sans-serif;
$avenir-light: "Avenir Light", sans-serif;
$avenir-medium: "Avenir Medium", sans-serif;
$avenir-book: "Avenir Book", sans-serif;
$avenir-roman: "Avenir Roman", sans-serif;
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 700;

.title {
  font-family: $avenir-light;
  font-weight: $light;
  font-size: 56px;
  line-height: 65px;
  letter-spacing: -0.1ch;
  color: $white;
}
.subtitle-big {
  font-family: $avenir-book;
  font-weight: $light;
  line-height: 30px;
  letter-spacing: 0.2ch;
  font-size: 17px;
  color: $silver;
}

.subtitle-small {
  font-family: $avenir-book;
  font-weight: $light;
  line-height: 20px;
  letter-spacing: 0.2ch;
  font-size: 14px;
  color: $silver;
}

body {
  font-family: $avenir-light;
  font-weight: $light;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.2ch;
  color: $white;
  // @include breakpoint(small) {
  //   font-family: $mobile-font-family;
  //   font-weight: 400;
  //   font-size: 14px;
  //   line-height: 1.7;
  //   color: $white;
  // }
}

h1 {
  font-family: $avenir-light;
  font-weight: $normal;
  line-height: 54px;
  letter-spacing: 0ch;
  font-size: 46px;
}

h2 {
  font-family: $avenir-light;
  font-weight: $normal;
  font-size: 30px;
  line-height: 34px;
  letter-spacing: 0.1ch;
}

h3 {
  font-family: $avenir-book;
  font-weight: $normal;
  font-size: 20px;
  line-height: 26px;
  letter-spacing: 0.2ch;
}
