// - - - - - - - - - - - - - - - - - - -
// - - typography
// global typography styles

body {
  font-family: $font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: $white;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  letter-spacing: 0.02em;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}

.tagline {
  color: $white;
}

.sub-tagline {
  color: $silver;
}
