.email-leadgen {

  .success-message {
    text-align: center;

    +mobile {
      padding: 3rem 0;
    }

    .fa {
      color: $red;
      font-size: 5em;
      margin-bottom: 1em;
    }

    h2 {
      font-size: $size-4;
      margin-bottom: 1em;
    }
  }
  .control {
    margin-bottom: 1em;

    .select, select {
      width: 100%;
    }
  }

  #recaptcha {
    > iframe {
      width: 100%;
    }
  }

  @media only screen and (min-width: 480px) and (max-width: 3000px) {
    section {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  @media only screen and (max-width: 480px) {
    section {
      height: 50vh;

      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }

    form {
      width: 100%;
    }
  }
}
