.email-leadgen {

  @include breakpoint(small) {
    section {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }

    #form_container {


      .field-body {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
      }
    }
  }

  @include breakpoint(large) {
    section {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .control {
    margin-bottom: 1em;

    .select, select {
      width: 100%;
    }
  }

  .button-control {
    display: flex;
    justify-content: center;
  }

  .success-message {
    text-align: center;

    @include breakpoint(small) {
      padding: 1rem 0;
    }

    .fa {
      color: $red;
      font-size: 5em;
      margin-bottom: 1em;
    }

    h2 {
      font-size: $size-4;
      margin-bottom: 1em;
    }
  }

  #recaptcha {
    > iframe {
      width: 100%;
    }
  }
}
