.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          .logo
          %p.subtitle
            Cryptoassets are the new high growth, high tech investment that promises
            returns similar to investing in internet companies in 1993.
            But the space is frustrating for beginners and even seasoned investors.
            There are multiple exchanges in multiple countries all of which have
            questionable security and fraud controls and a lack of research & analysis.
          %p.subtitle
            CryptoWise changes that by providing our community with the safest
            high growth investments for the long term as crypto reaches main stream adoption.
          %p.subtitle
            Subscribing investors receive access to top tier research and automated guidance from
            intelligent agents on portfolio selection & optimization, global
            tactical asset allocation, and more.
          %p.subtitle
            Think of us as your personal network for crypto asset intelligence.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down{style: "color: #7c1323"}
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
