.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          .logo
          %p.subtitle
            A platform for crypto experts to sell subscriptions to
            research on promising crypto projects, while subscribing
            investors get access to top tier research and automated guidance from
            intelligent agents on portfolio selection & optimization, global
            tactical asset allocation, and more.
          %p.subtitle
            Think of us as the source for crypto asset intelligence.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
