.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          %h1.title Introducing CryptoPortfolio
          %p.subtitle
            CryptoPortfolio is an app which allows investors to quickly and easily
            setup automated recurring micro-deposits into custom built portfolio's while human
            and AI agents conduct financial due diligence to optimize risk and return on their
            behalf. Well tested best practices intelligent tactical asset allocation and statistical
            optimization methodologies demonstrably prevent large drawdowns and can dramatically
            increase returns.
          %p.subtitle
            Think of it as your own super-intelligent piggy bank for Cryptoasset investing.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
