.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          %h1.title CrowdFinance.ai
          %p.subtitle
            We build
            %strong Intelligent Software
            and use crowd sourced business models to harness the wisdom of
            %strong The Experts
            and help you surface emerging micro-cap investments with exceptional risk/return characteristics.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
