.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          %h6.title Introducing CrowFinance.ai
          %p.subtitle
            CrowdFinance.ai is an AI informed cryptoasset Robo-Advisory,
            providing clients with algorithmic and human asset research, analysis
            and recommendations. Investors gain from our contributors abilities to enrich, analyze,
            and synthesize high quality due diligence on promising crypto projects.
          %p.subtitle
            Think of us as your personal team of advisors on Cryptoasset investing.
          %br
          %p.title Our Mission
          %p.subtitle To help Cryptoasset investors, researchers, analysts, and
            experts accelerate their intellectual growth & financial freedom.
          %br
          %p.title Our Values
          %p.subtitle Transparency, Vision, Curiosity, Accuracy, Precision,
            Logic & Reason, Integrity, Empowerment, Inventiveness, Intellectual Depth,
            Ingenuity, Self Discipline, Dedication, Commitment, Compassion, Humor.
          %br
          %p.title Our Pursuits
          %p.subtitle Cryptoassets & Blockchain Technology, Investing Strategies,
             Portfolio Management, Business Strategy & Models, Algorithms,
             Software Design, Entrepreneurship, Economics, FinTech, Growth Marketing,
             Emerging Tech, IOT, Multi-Agent Reinforcement Learning, Cognitive
             & Social Sciences, Arts & Culture.

        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down
    .right.column#subscribe_form
      %section.section
        .container.is-fluid
          #form_container
