.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          %h1.title The cure for crypto confusion
          %p.subtitle
            We are building
            %strong Intelligent Software
            and using crowd sourced business models to harness the wisdom of
            %strong The Experts
            and help you surface emerging micro-cap investments with exceptional risk/return characteristics.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
