.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          %h1.title Introducing CryptoPortfolio
          %p.subtitle
            CryptoPortfolio is a Robo-Advisory platform, providing clients
            with automated analysis and recommendations on promising Cryptoasset
            investments. Investors gain from our ability to enrich, analyze,
            and synthesize high quality due diligence using data science & AI.
            Our approach provides crypto investors with insights that have been
            %a{ style: "color: darkblue;", href: " https://papers.ssrn.com/sol3/papers.cfm?abstract_id=1807265", target: "_blank"} proven
            to enhance investment results.
          %p.subtitle
            Think of us as your personal team of advisors for Cryptoasset investing.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
