.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          %h1.title CrowdFinance.ai
          %p.subtitle
            Re-inventing CrowdFunding using
            %strong Intelligent Agents
            and the wisdom of
            %strong The Crowd
            to surface micro-cap investments with the highest potential.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
