.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          %h6.title Introducing CrowdFinance
          %p.subtitle
            CrowdFinance, is a cryptoasset Robo-Advisory,
            providing clients with crowdsourced research and analysis of crypto investments.
            Investors gain from our contributors abilities to enrich, analyze,
            and synthesize high quality due diligence on promising crypto projects. We're
            tapping into the acquired wisdom and innate talent of those most passionate
            about the future of money and capital formation.
          %p.subtitle
            Think of us as your personal team of advisors on Cryptoasset investing.
          %br
          %p.title Mission
          %p.subtitle To help Cryptoasset investors, researchers, analysts, and
            experts reach their potential & attain financial empowerement.
          %br
          %p.title Values
          %p.subtitle Transparency, Openness, Vision, Curiosity, Accuracy, Precision,
            Logic & Reason, Integrity, Empowerment, Inventiveness, Intellectual Depth,
            Self Discipline, Dedication, Compassion, Humor.
          %br
          %p.title Pursuits
          %p.subtitle Cryptoassets & Blockchain Technology, Investing Strategies,
             Portfolio Management, Business Strategy & Models, Algorithms,
             Software Design, Entrepreneurship, Economics, FinTech, Growth Marketing,
             Emerging Tech, IOT, Multi-Agent Reinforcement Learning, Cognitive
             & Social Sciences, Arts & Culture.

        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down
    .right.column#subscribe_form
      %section.section
        .container.is-fluid
          #form_container
