.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          %h1.title Introducing CrowFinance.ai
          %p.subtitle
            CrowdFinance.ai is a Robo-Advisory platform, providing clients
            with automated analysis and recommendations on promising Cryptoasset
            investments. Investors gain from our contributors capabilities in
            investment ideas, investing strategies, and portfolio
            management our ability to enrich, analyze,
            and synthesize it using data science & AI.
          %p.subtitle
            Think of us as your personal team of advisors for Cryptoasset investing.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
