.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          %h1.title Introducing CryptoPortfolio
          %p.subtitle
            CryptoPortfolio is a Robo-Advisory platform, where clients
            receive automated research and recommendations from our ability to combine,
            categorize, and curate high quality due diligence on promising crypto
            investments. We're synthesizing crowdsourced research & anlysis with
            AI to provide crypto investors with insights that have been
            %a{ style: "color: yellow;", href: " https://papers.ssrn.com/sol3/papers.cfm?abstract_id=1807265", target: "_blank"} proven 
            to enhance investment results.
          %p.subtitle
            Think of us as your personal team of advisors for Cryptoasset investing.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
