.landing-page
  .main-wrapper
    .left
      .hero
        %h1.title Phoenix  Elm landing page
        %p.subtitle
          Real use case of building a landing page using
          %strong Phoenix
          and
          %strong Elm
      .scroll-to
        %a.icon
          %i.fa.fa-chevron-down
    #subscribe_form.right
      %section.section
        .container.is-fluid
          #form_container
