.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          .logo
          %p.subtitle
            Cryptoassets are the new high growth asset class promising
            returns similar those earned when investing in internet companies around 1993,
            but the space is in its infancy and is confusing and frustrating for investors.
            The ecosystem is plagued by weak security and fraud controls, incompetent teams,
            and a lack of quality research & analysis for making wise investment decisions.
          %p.subtitle
            CryptoWise harnesses the wisdom of the crypto ecosystem to help investors find the safest
            high growth investments for the long & short term as determined by our
            community of independent research providers.
          %p.subtitle
            Investors receive access to top tier research and
            automated guidance from intelligent agents on portfolio selection &
            optimization, global tactical asset allocation, and more.
          %p.subtitle
            Think of us as your personal network for crypto asset intelligence.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down{style: "color: #7c1323"}
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
