.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          .logo
          %p.subtitle
            CryptoWise, is a cryptoasset Robo-Advisory,
            providing clients with crowdsourced research and analysis of crypto investments.
            Investors gain from our contributors abilities to enrich, analyze,
            and synthesize high quality due diligence on promising crypto projects. We're
            tapping into the acquired wisdom and innate talent of those most passionate
            about the future of money and capital formation.
          %p.subtitle
            CryptoWise harnesses the wisdom of the crypto ecosystem to help investors find the safest
            high growth investments for the long & short term as determined by independent research providers.
          %p.subtitle
            Think of us as your personal network for crypto asset intelligence.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down{style: "color: #7c1323"}
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
