.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          .logo
          %h1.subtitle
            Invest spare change in crypto asset portfolios and meta-portfolios
            \(portfolios of portfolios\) constructed and managed by top rated
            experts skilled in modern investing approaches.
          %p.subtitle
            Find quality crypto investment
            %a{href: "https://m.me/cryptowiseAI"} advice
            from vetted research providers in our network.
          %p.subtitle
            Learn ways to maximize gains in the investment opportunity of the century
            from seasoned investors.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down{style: "color: #7c1323"}
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
