.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          .logo
          %h1.subtitle
            Investing has always favored the wealthy-- until now. With
            just $5, you can now buy into themed portfolios of cryptoassets.
          %h5
            Beta coming soon. Sign up to stay in the loop.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down{style: "color: #7c1323"}
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
