.landing-page
  .main-wrapper.columns
    .left.column
      .hero.is-large
        .hero-body
          .logo
          %h1.subtitle
            Investing regulations have always favored the wealthy-- until now. With
            just $5, you can now buy fractional shares of cryptoassets.
          %h3
            Please test our
            %a{href: "https://www.fluidui.com/editor/live/project/p_LW3qev3XwAm1z3zZTiOFO4Zxdpqu2whK", target: "_blank"} mockup
            and leave comments!

          %h5
            Beta soon to come. Sign up to stay in the loop.
        .scroll-to
          %a.icon
            %i.fa.fa-chevron-down{style: "color: #7c1323"}
    #subscribe_form.right.column
      %section.section
        .container.is-fluid
          #form_container
