
.landing-page{style: "margin: 295px auto; width: 52%"}
  .main-wrapper

    .logo
    .left
      #press_content
        .team-image
          .title Team
          %figure.image
            %img{src: "/images/team.png", alt: "Placeholder image"}

        %br
        .title About
        %p
          CryptoWise, is a Cryptoasset Robo-Advisory,
          providing clients with crowdsourced research and analysis of crypto investments.
          Investors gain from our contributors abilities to enrich, analyze,
          and synthesize high quality due diligence on promising crypto projects.
          %i We're tapping into the acquired wisdom and innate talent of those most passionate
             about the future of money and capital formation.
        %br
        .title Mission
        %p To provide high quality software, information, and tooling to help Cryptoasset investors, researchers, analysts, and
          experts reach their potential & attain their financial goals.
        %br
        .title Values
        %p Transparency, Integrity, Openness, Empowerment,
           Curiosity, Accuracy, Precision, Integrity, Inventiveness,
           Self Discipline, Dedication, Compassion, Humor, Fun.
        %br
        .title Pursuits
        %p Cryptoasset & Blockchain Technology, Investing Strategies,
           Portfolio Management, Business Strategy & Models, Algorithms & AI,
           Software Architecture & Systems Design, Entrepreneurship, Token Economics, FinTech, Growth Marketing,
           Emerging Tech, IOT, Multi-Agent Reinforcement Learning, Cognitive
           & Social Sciences.
