#press_content{style: "margin: 25px auto; width: 52%"}
  .main-wrapper
    %h6.title Introducing the CryptoWise Team
    .team-image
      %figure.image
        %img{src: "/images/team.png", alt: "Placeholder image"}
    %br
    %p
      CryptoWise, is a Cryptoasset Robo-Advisory,
      providing clients with crowdsourced research and analysis of crypto investments.
      Investors gain from our contributors abilities to enrich, analyze,
      and synthesize high quality due diligence on promising crypto projects.
      %i We're tapping into the acquired wisdom and innate talent of those most passionate
         about the future of money and capital formation.
    %br
    %p.title Mission
    %p To provide high quality software, information, and tooling to help Cryptoasset investors, researchers, analysts, and
      experts reach their investing potential & attain financial freedom.
    %br
    %p.title Values
    %p Transparency, Integrity, Openness, Empowerment,
       Curiosity, Accuracy, Precision, Integrity, Inventiveness,
       Self Discipline, Dedication, Compassion, Humor, Fun.
    %br
    %p.title Pursuits
    %p Cryptoasset & Blockchain Technology, Investing Strategies,
       Portfolio Management, Business Strategy & Models, Algorithms & AI,
       Software Architecture & Systems Design, Entrepreneurship, Token Economics, FinTech, Growth Marketing,
       Emerging Tech, IOT, Multi-Agent Reinforcement Learning, Cognitive
       & Social Sciences.
