
.landing-page{style: "margin: 295px auto; width: 52%"}
  .main-wrapper

    .logo
    .left
      #press_content
        .team-image
          .title Team
          %figure.image
            %img{src: "/images/team.png", alt: "Placeholder image"}

        %br
        .title About
        %p
          CryptoWise is a Robo-Advisory
          connecting investors with expert level cryptoasset financial analysis.
          Investors gain from our contributors abilities to enrich and synthesize
          high quality due diligence on promising crypto projects.
          %i We're tapping into the acquired wisdom and innate talent of those most passionate
             about the future of money and capital formation.
        %br
        .title Mission
        %p To help forward-looking investors and analysts achieve valuable accomplishments by providing them with
           advanced software capabilities and community-driven research & analysis.
        %br
        .title Values
        %p Transparency, Integrity, Openness, Empowerment,
           Curiosity, Accuracy, Precision, Autonomy,
           Self Discipline, Dedication, Compassion, Originality, Humor, Fun.
        %br
        .title Pursuits
        %p Cryptoasset & Distributed Ledger Technology, Crypto Economics, Investing & Trading Strategies & Methods,
           Portfolio Management, Dapps, Algorithms & AI, Software Architecture & Systems Design,
           Growth Engineering, Emerging Tech, Internet of Things,
           Multi-Agent Reinforcement Learning, Cognitive & Social Sciences.
