#privacy_policy
  %h2
    Terms of use Effective as of May 31st, 2018
  %p
    Please read these Terms of Service ("Terms", "Terms of Service") carefully
    before using the Aion Labs website ("Site") or mobile application ("App"), which
    are operated by Aion Labs, Inc. ("us", "we", or "our").
  %p
    Your access to and use of the Site and App is conditioned upon your acceptance
    of and compliance with these Terms. These Terms apply to all visitors, users and
    others who access or use the Site and App.
  %p
    By accessing or using the Site or App you agree to be bound by these Terms. If
    you disagree with any part of the Terms then you do not have permission to
    access the Site or App.

  %h2
    Registration
  %p
    When you register with us, you represent that: (a) you are age 18 or older; (b)
    you are a U.S. citizen or resident residing in the United States; and (c) that
    the information you provide us is accurate, complete, and current at all times.
    Inaccurate, incomplete, or obsolete information may result in the immediate
    termination of your registration.
  %p
    You are responsible for maintaining the confidentiality of your registration
    information and password, including but not limited to the restriction of access
    to your computer and/or registration. You agree to accept responsibility for any
    and all activities or actions that occur under your registration and/or
    password, whether your password is with our App, Site, or a third-party service.
    You must notify us immediately upon becoming aware of any breach of security or
    unauthorized use of your registration.

  %h2
    Services
  %p
    By registering with us, you are able to use the Site or App to enable purchases
    of certain cryptocurrencies based on your risk preference (the "Service"). You
    are able to change your risk preference at anytime, although it may take Aion
    Labs up to three (3) business days to adjust accordingly the purchase of
    cryptocurrencies.
  %p
    Cryptocurrencies are not FDIC-insured and purchasing them involves risk because
    they may lose value. Please consider your objectives before registering for the
    Service. Aion Labs does not guarantee any outcome and any projections are
    hypothetical in nature. Past performance is not a guarantee of future results.
    You are solely responsible for evaluating the risk associated with use of the
    Service.
  %p
    We reserve the right to modify or change to Site, App, or Services, temporarily
    or permanently, with or without notice to you, and we are not obligated to
    support or update the Site, App, or any Service. You acknowledge and agree that
    we shall not be liable to you or any third party in the event we exercise our
    right to modify, change, or discontinue the Site, App, or Service.

  %h2
    Sub-account Registration
  %p
    We create sub-accounts for you with our payment vendor SynapseFI in order to
    process USD deposits and withdraws. By using Aion Labs you agree to SynapseFI’s
    Terms of Service and Privacy Policy

  %h2
    Transaction History
  %p
    Client uses Plaid Inc. ("Plaid") to gather End User’s data from financial
    institutions. By using our service, you grant Client and Plaid the right, power,
    and authority to act on your behalf to access and transmit your personal and
    financial information from the relevant financial institution. You agree to your
    personal and financial information being transferred, stored, and processed by
    Plaid in accordance with the Plaid Privacy Policy.

  %h2
    Subscriptions
  %p
    Some parts of the Service are billed on a subscription basis
    as in "Subscription(s)". You will be billed in advance on a recurring and periodic
    basis as in "Billing Cycle". Billing cycles are set on a monthly basis.
  %p
    At the end of each Billing Cycle, your Subscription will automatically renew
    under the exact same conditions unless you or we cancel it. You may cancel your
    Subscription renewal either through the website or App or by contacting our
    customer support team.
  %p
    A valid payment method, including credit card, is required to process the
    payment for your Subscription. You shall provide Aion Labs, Inc. with accurate
    and complete billing information including full name, address, state, zip code,
    telephone number, and a valid payment method information. By submitting such
    payment information, you automatically authorize Aion Labs, Inc. to charge all
    Subscription fees incurred through your registration to any such payment
    instruments.
  %p
    Should automatic billing fail to occur for any reason, Aion Labs, Inc. will
    issue an electronic invoice indicating that you must proceed manually, within a
    certain deadline date, with the full payment corresponding to the billing period
    as indicated on the invoice.

  %h2
    Fee Changes
  %p
    Aion Labs, Inc., in its sole discretion and at any time, may modify the
    Subscription fees for the Subscriptions. Any Subscription fee change will become
    effective at the end of the then-current Billing Cycle.
  %p
    Aion Labs, Inc. will provide you with reasonable prior notice of any change in
    Subscription fees to give you an opportunity to terminate your Subscription
    before such change becomes effective
  %p
    Your continued use of the Service after the Subscription fee change comes into
    effect constitutes your agreement to pay the modified Subscription fee amount.
  %p
    Aion Labs, Inc. will also charge users a fee per ach transaction, example:
    deposits and withdrawals of funds.

  %h2
    Refunds
  %p
    Except when required by law, paid Subscription fees are non-refundable.

  %h2
    Use and Restrictions
  %p
    All text, videos, graphics, user interfaces, visual interfaces, photographs,
    trademarks, logos, sounds, artwork, algorithms, functionalities, features and
    computer code, including but not limited to design, structure, "look and feel"
    and arrangement of the content available on the Site or App (collectively,
    "Content") is owned, controlled or licensed by or to us, and is protected by
    trade dress, copyright, patent and trademark laws, and various other
    intellectual property rights and unfair competition laws. You are not authorized
    to, and agree not to, download, display or use any Content in any publication,
    advertising, publicity or any other commercial or non-commercial manner, in
    connection with products or services that are not those of Aion Labs, in any
    other manner that is likely to cause confusion among consumers. You may not
    modify, copy, distribute, publish, license or sell any Services or Content or
    any derivative work based on the Services or Content.
  %p
    The Site, App, and Service may be used for non-commercial purposes only.
  %p
    You may not use the Site, App, or Service for illegal or unlawful or malicious
    activities, or for activities that we deem improper for any reason whatsoever in
    our sole judgment, including, without limitation, the laundering of proceeds of
    any unlawful activity, the financing of terrorism, the commission of fraud or
    market manipulation, the harassing or making disparaging comments to any user of
    the Site or Application. We reserve the right to take preventative or corrective
    actions to protect ourselves and our users. Your use of the Site, the App, and
    Service is conditioned in part on your compliance with the rules of conduct
    provided herein, and your failure to comply may result in termination of your
    access to and use of the Site, the App, and Service and liability for damages
    caused by your noncompliance

  %h2
    Links To Other Web Sites
  %p
    Our Service may contain links to third party web sites or services that are not
    owned or controlled by Aion Labs, Inc.
  %p
    Aion Labs, Inc. has no control over, and assumes no responsibility for the
    content, privacy policies, or practices of any third party web sites or
    services. We do not warrant the offerings of any of these entities/individuals
    or their websites.
  %p
    You acknowledge and agree that Aion Labs, Inc. shall not be responsible or
    liable, directly or indirectly, for any damage or loss caused or alleged to be
    caused by or in connection with use of or reliance on any such content, goods or
    services available on or through any such third party web sites or services.
  %p
    We strongly advise you to read the terms and conditions and privacy policies of
    any third party web sites or services that you visit.

  %h2
    Privacy
  %p
    We are committed to your privacy, and our privacy policy, the terms of which are
    incorporated herein, explains the policies put in place and used by us to
    protect your privacy as you use and visit the Site, App, and/or Services.

  %h2
    Termination
  %p
    We may terminate or suspend or bar your access to the Service immediately,
    without prior notice or liability, under our sole discretion, for any reason
    whatsoever and without limitation, including but not limited to a breach of the
    Terms.
  %p
    If you wish to terminate your registration, you may simply discontinue using the
    Service.
  %p
    All provisions of the Terms which by their nature should survive termination
    shall survive termination, including, without limitation, ownership provisions,
    warranty disclaimers, indemnity and limitations of liability.

  %h2
    Indemnification
  %p
    You agree to defend, indemnify and hold harmless Aion Labs, Inc. and its
    licensors, and their employees, contractors, agents, officers and directors,
    from and against any and all claims, damages, obligations, losses, liabilities,
    costs or debt, and expenses (including but not limited to attorney’s fees),
    resulting from or arising out of (a) your use and access of the Service, by you
    or any person using your registration and password, (b) your breach of these
    Terms, (c) your fraudulent or malicious use of the Site, App, or Services, or
    your misuse of the same, or (d) your violation of applicable laws, rules, or
    regulations in connection with your use of the Site, App, or Services.

  %h2
    Limitation Of Liability
  %p
    In no event shall Aion Labs, Inc., nor its directors, employees, partners,
    agents, suppliers, or affiliates, be liable for any direct, indirect,
    incidental, special, consequential or punitive damages, including without
    limitation, loss of profits, data, use, goodwill, or other intangible losses,
    resulting from (i) your access to or use of or inability to access or use of the
    Site, App, or Service; (ii) any conduct or content of any third party on the
    Site, App, or Service; (iii) any Content obtained from the Site, App, or
    Service; and (iv) unauthorized access, use or alteration of your transmissions
    or content, whether based on warranty, contract, tort (including negligence) or
    any other legal theory, whether or not we have been informed of the possibility
    of such damage, and even if a remedy set forth herein is found to have failed of
    its essential purpose.

  %h2
    Disclaimer
  %p
    Your use of the Service is at your sole risk. The Service is provided on an "AS
    IS" and "AS AVAILABLE" basis. The Service is provided without warranties of any
    kind, WHETHER EXPRESS, IMPLIED OR STATUTORY, INCLUDING WITHOUT LIMITATION (1) AS
    TO TITLE, MERCHANTABILITY, FITNESS FOR ORDINARY PURPOSES AND FITNESS FOR A
    PARTICULAR PURPOSE AND NON-INFRINGEMENT, (2) THE QUALITY, ACCURACY, TIMELINESS
    OR COMPLETENESS OF THE SITE, THE APPLICATION AND THEIR RESPECTIVE CONTENT, (3)
    THOSE ARISING THROUGH COURSE OF DEALING, COURSE OF PERFORMANCE OR USAGE OF
    TRADE, (4) THE SITE AND APPLICATION AND THEIR RESPECTIVE CONTENT CONFORMING TO
    ANY FUNCTION, DEMONSTRATION OR PROMISE BY ANY COMPANY PARTY AND (5) THAT ACCESS
    TO OR USE OF THE SITE, THE APPLICATION OR THEIR RESPECTIVE CONTENT WILL BE
    UNINTERRUPTED, ERROR-FREE OR COMPLETELY SECURE. ANY RELIANCE UPON THE SITE, THE
    APPLICATION AND THEIR RESPECTIVE CONTENT IS AT YOUR OWN RISK AND we make no
    warranties..
  %p
    Aion Labs, Inc. its subsidiaries, affiliates, and its licensors do not warrant
    that a) the Service will function uninterrupted, secure or available at any
    particular time or location; b) any errors or defects will be corrected; c) the
    Service is free of viruses or other harmful components; or d) the results of
    using the Service will meet your requirements.

  %h2
    Exclusions
  %p
    Some jurisdictions do not allow the exclusion of certain warranties or the
    exclusion or limitation of liability for consequential or incidental damages, so
    the limitations above may not apply to you.

  %h2
    Governing Law
  %p
    These Terms shall be governed and construed in accordance with the laws of
    California, United States, without regard to its conflict of law provisions.
  %p
    Our failure to enforce any right or provision of these Terms will not be
    considered a waiver of those rights. If any provision of these Terms is held to
    be invalid or unenforceable by a court, the remaining provisions of these Terms
    will remain in effect. These Terms constitute the entire agreement between us
    regarding our Service, and supersede and replace any prior agreements we might
    have had between us regarding the Service.

  %h2
    Changes
  %p
    We reserve the right, at our sole discretion, to modify or replace these Terms
    at any time. If a revision is material we will provide at least 15 days notice
    prior to any new terms taking effect. What constitutes a material change will be
    determined at our sole discretion.
  %p
    By continuing to access or use our Service after any revisions become effective,
    you agree to be bound by the revised terms. If you do not agree to the new
    terms, you are no longer authorized to use the Service.
