!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "CryptoWise, Investment research, Investment analysis, Crypto Trading, Crypto, Cryptocurrency, Blockchain, ICO, ICO Investing", :name => "description"}
    %meta{:content => "CryptoWise", :name => "author"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-status-bar-style"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-title"}
    %link{rel: "apple-touch-icon", href: "/static/images/small_owl.png", sizes: "144x144"}
    %meta{name: "apple-mobile-web-app-capable", content: "yes"}
    %meta{name: "apple-mobile-web-app-status-bar-style", content: "black"}
    %meta{name: "apple-mobile-web-app-title", content: "PWAGram"}
    %link{rel: "apple-touch-icon", href: "/static/images/icons/apple-icon-57x57.png", sizes: "57x57"}
    %link{rel: "apple-touch-icon", href: "/static/images/icons/apple-icon-60x60.png", sizes: "60x60"}
    %link{rel: "apple-touch-icon", href: "/static/images/icons/apple-icon-72x72.png", sizes: "72x72"}
    %link{rel: "apple-touch-icon", href: "/static/images/icons/apple-icon-76x76.png", sizes: "76x76"}
    %link{rel: "apple-touch-icon", href: "/static/images/icons/apple-icon-114x114.png", sizes: "114x114"}
    %link{rel: "apple-touch-icon", href: "/static/images/icons/apple-icon-120x120.png", sizes: "120x120"}
    %link{rel: "apple-touch-icon", href: "/static/images/icons/apple-icon-144x144.png", sizes: "144x144"}
    %link{rel: "apple-touch-icon", href: "/static/images/icons/apple-icon-152x152.png", sizes: "152x152"}
    %link{rel: "apple-touch-icon", href: "/static/images/icons/apple-icon-180x180.png", sizes: "180x180"}
    %meta{name: "msapplication-TileImage", content: "/src/images/icons/app-icon-144x144.png"}
    %meta{name: "msapplication-TileColor", content: "#fff"}
    %meta{name: "theme-color", content: "#3f51b5"}
    %title CryptoWise
    %script{src: "https://use.fontawesome.com/2aa13a4a25.js" }
    - css_path = static_path(@conn, "/css/app.css")
    %link{rel: "stylesheet" href: css_path}
    %link{rel: "manifest" href: "/manifest.json"}

  %body
    / Load Facebook SDK for JavaScript
    #fb-root
    // :javascript
    //   function(d, s, id) {
    //     var js, fjs = d.getElementsByTagName(s)[0];
    //     if (d.getElementById(id)) return;
    //     js = d.createElement(s); js.id = id;
    //     js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
    //     fjs.parentNode.insertBefore(js, fjs);
    //   }(document, 'script', 'facebook-jssdk');
    / Your customer chat code
    -# .fb-customerchat{:attribution => "setup_tool", :page_id => "1806273466097268", :theme_color => "#fa3c4c"}
    = render(@view_module, @view_template, assigns)
    %script{src: "#{static_path(@conn, "/js/app.js")}" }
    %script{ src: "https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" }
  #footer{ style: 'text-align: center; margin-bottom: 30px;'}
    .copyright Copyright ©2018, Aion Labs, Inc.
    -# = link("Terms of Service", to: "/privacy_policy")
