!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width", :name => "viewport"}
    %meta{:content => "CryptoWise, Investment research, Investment analysis, Crypto Trading, Crypto, Cryptocurrency, Blockchain, ICO, ICO Investing", :name => "description"}
    %meta{:content => "CryptoWise", :name => "author"}
    %title CryptoWise
    %script{src: "https://use.fontawesome.com/2aa13a4a25.js" }
    - css_path = static_path(@conn, "/css/app.css")
    %link{rel: "stylesheet" href: css_path}

  %body.has-navbar-fixed-top
    / Load Facebook SDK for JavaScript
    #fb-root
    // :javascript
    //   function(d, s, id) {
    //     var js, fjs = d.getElementsByTagName(s)[0];
    //     if (d.getElementById(id)) return;
    //     js = d.createElement(s); js.id = id;
    //     js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
    //     fjs.parentNode.insertBefore(js, fjs);
    //   }(document, 'script', 'facebook-jssdk');
    / Your customer chat code
    -# .fb-customerchat{:attribution => "setup_tool", :page_id => "1806273466097268", :theme_color => "#fa3c4c"}
    = render(@view_module, @view_template, assigns)
    %script{src: "#{static_path(@conn, "/js/app.js")}" }
    %script{ src: "https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" }
  #footer{ style: 'font-size: 10px; text-align: center; margin-bottom: 30px;'}
    .copyright Copyright ©2018, Aion Labs, Inc.
    -# = link("Terms of Service", to: "/privacy_policy")
