<!DOCTYPE html>
%html
  %head
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1" name="viewport"/>
    <meta content="Crypto investing strategies, Crypto Portfolio, Crypto investing for beginners,
     Crypto portfolio management, Crypto Investment Spreadsheet, Crypto Portfolio Allocation,
     Alt Coins, Trading, Cryptoassets, Cryptocurrency, Bitcoin, Bitcoin Trading,
     Blockchain, ICO, Initial Coin Offering" name="description"/>
    <meta content="CryptoWise" name="author"/>
    <meta name="theme-color" content="#262b3c">
    %title CryptoWise
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    - css_path = static_path(@conn, "/css/app.css")
    %link{rel: "stylesheet", href: css_path}
    - favicon = static_path(@conn, "/images/favicon.png")
    %link{rel: "icon", type:"image/x-icon", href: favicon}
    %link{rel: "manifest", href: "/manifest.json"}

  %body
    #wrapper
      = render(@view_module, @view_template, assigns)

    / Load Facebook SDK for JavaScript
    -# #fb-root
    // :javascript
    //   function(d, s, id) {
    //     var js, fjs = d.getElementsByTagName(s)[0];
    //     if (d.getElementById(id)) return;
    //     js = d.createElement(s); js.id = id;
    //     js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
    //     fjs.parentNode.insertBefore(js, fjs);
    //   }(document, 'script', 'facebook-jssdk');
    / Your customer chat code
    -# .fb-customerchat{:attribution => "setup_tool", :page_id => "1806273466097268", :theme_color => "#fa3c4c"}
    %script{src: "https://use.fontawesome.com/2aa13a4a25.js" }
    %script{src: "#{static_path(@conn, "/js/app.js")}" }
    - prod = Application.get_env(:platform_web, :env)
    - if prod == :prod do

      -# <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122688981-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-122688981-1');
      </script>

      -# <!-- Segment -->
      <script>
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
        analytics.load("DZkRyiXKnNGmbh2EWo1LT78RPyhnVyFy");
        analytics.page();
        }}();
      </script>


    -# %script{ src: "https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" }
