!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %title CryptoWise
    %script{src: "https://use.fontawesome.com/2aa13a4a25.js" }
    - css_path = static_path(@conn, "/css/app.css")
    %link{rel: "stylesheet" href: css_path}

  %body
    / Load Facebook SDK for JavaScript
    #fb-root
    :javascript
      function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk');
    / Your customer chat code
    .fb-customerchat{:attribution => "setup_tool", :page_id => "1806273466097268", :theme_color => "#fa3c4c"}
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="http://localhost:4000">
          <img src="/images/small_owl_image.png" alt="CryptoWise: Crowd Robo-Advisory" width="95" height="195">
        </a>
        <a class="navbar-item" href="http://localhost:4000/press">
          Press
        </a>
        <a class="navbar-item" href="http://localhost:4000/blog">
          Blog
        </a>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true">Press</span>
          <span aria-hidden="true">Blog</span>
          <span aria-hidden="true"></span>
        </a>
      </div>
    </nav>
    = render(@view_module, @view_template, assigns)
    %script{src: "#{static_path(@conn, "/js/app.js")}" }
    %script{ src: "https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" }
  #footer{ style: 'text-align: center; margin-bottom: 30px;'}
    .copyright Copyright ©2018, Aion Labs, Inc.
    -# = link("Terms of Service", to: "/privacy_policy")
