#wrapper {

  #provider {
    margin: 4rem auto;
    position: relative;
    width: 60ch;


    @include mobile {
      max-width: 95vw;
    }
    .scroll-to {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 50%;
    }

    #provider-text {
      justify-content: center;
      .provider-heading {
        margin-bottom: 30px;
      }
    }

    .list-heading {
      text-align: center;
    }
    .topics {
      .topic {
        list-style-type: circle;

        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
        // text-align: center;
        .feature-icon { padding: 7px; }
        p { max-width: 300px; }
      }
    }
  }
}
