#wrapper {

  .provider-contribute-wrapper {
    margin: 0px auto;
    padding: 60px 20px;
    max-width: 900px;

    .scroll-to {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 0;
      align-items: center;
      left: 50%;
    }

    #provider-text {
      .provider-heading {
        margin-bottom: 30px;
      }
    }

    .list-heading {
      text-align: center;
    }
    .topics {
      padding: 20px;

      .topic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .feature-icon { padding: 7px; }
        p { max-width: 300px; }
      }
    }
  }
}
